
@media (min-width: 480px) {
  .present__title {
    font-size: 40px;
  }
  .present__subtitle {
    font-size: 18px;
  }
  .present__order-btn {
    align-self: flex-start;
  }

  .advantage__title {
    text-align: left;
  }
  .advantage__list {
    justify-content: space-between;
    row-gap: 40px;
  }
  .advantage__item {
    flex-basis: 45%;
  }
  .portfolio__title {
    font-size: 40px;
  }
  .card__picture {
    width: 213px;
    height: 126px;
    padding: 10px 28px 25px;
  }

  .modal__title,
  .connect__title  {
    font-size: 18px;
  }
  .callback__label {
    height: 100px;
  }
  .callback__label-text {
    top: 15px;
    left: 16px;
    font-size: 16px;
  }
  .callback__input {
    padding-top: 20px;
  }
  .callback__input,
  .callback__input::placeholder {
    font-size: 16px;
  }
}

@media (min-width: 540px) {
  .present__description {
    font-size: 16px;
    max-width: 290px;
  }
  .present__photo img {
    height: 100%;
  }

  .callback__group.connect {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  } 
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 100px;
  }
  .header {
    padding: 28px 40px;
    margin-bottom: 50px;
    min-height: 100px;
  }
  .header__contacts {
    top: 101px;
    padding: 40px;
  }
  .contacts__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts__head {
    text-align: start;
  }
  .present__container {
    flex-direction: row;
    gap: 30px;
    height: calc(100vh - 200px);
    align-items: center;
  }
  .present__order-btn {
    padding: 24px 82px;
  }
  .present__photo {
    max-height: 1000px;
    margin-bottom: 0;
    height: 100%;
  }

  .advantage__list{
    row-gap: 80px;
  }
  .advantage__title {
    margin-bottom: 50px;
  }

  .portfolio__title {
    font-size: 40px;
  }

  .modal {
    max-width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 300px;
    margin-bottom: 130px;
  }
  .header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    width: 260px;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    padding: 50px 25px;
  }
  .header__contacts {
    display: block;
    position: static;
    padding: 0;
    background-color: transparent;
    margin: auto 0;
  }
  .contacts__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__contacts-burger {
    display: none;
  }
  .present {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .present__container {
    height: calc(100vh - 140px);
    margin-bottom: 0;
  }
  .present:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 40%;
    height: 100%;
    background-color: #A1B7C8;
    z-index: -1;
  }

  .advantage__item {
    font-size: 18px;
  }

  .modal__title,
  .connect__title {
    font-size: 20px;
  }
  .callback__input {
    padding-top: 20px;
  }
}

@media (min-width: 1440px) {
  .page {
    background-image: linear-gradient(to right, #A1B7C8 24%, transparent 24%);
  }
  .container {
    margin-bottom: 140px;
  }
  .header {
    width: 355px;
    left: calc(50% - 720px);
  }
  .present__container {
    margin-bottom: 0;
    }
  .present__photo {
    min-width: 445px;
  }
  .present__group-title {
    margin-bottom: 60px;
  }
  .present__title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .present__subtitle {
    font-size: 20px;
  }
  .present__description {
    font-size: 18px;
  }

  .advantage__list{
    row-gap: 100px;
  }
  .advantage__title {
    font-size: 50px;
    margin-bottom: 80px;
  }


  .portfolio__title {
    font-size: 50px;
  }
  .card {
    max-width: 366px;
    padding: 14px 23px;
  }
  .card__date{
    font-size: 16px;
  }
  .card__title {
    font-size: 18px;
  }
  /* .portfolio__slider {
    max-width: 825px;
  }
  .card__picture {
    width: 213px;
    height: 126px;
    padding: 10px 28px 25px;
  } */
}

@media (min-width: 2700px) {
  .page {
    background-image: linear-gradient(to right, #A1B7C8 30%, transparent 30%);
  }
}